name: HACS Action

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - name: HACS Action
        uses: "hacs/action@6f81caf1dd4cc0f615444dba4d4a3ceaa22db99c"
        with:
          category: "integration"
